{% extends "_base.html" %}
{% from "_macros.html" import render_field %}

{% block content %}

    <br><br>
    <div class="row">
        <div class="col-1"><br></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center">
                        <h3>Log in</h3>
                    </div>
                    <br>
                    <form method="post">

                    </form>

                </div>
            </div>
        </div>
        <div class="col-1"><br></div>
    </div>

{% endblock content %}