{% extends "_base.html" %}

{% block content %}

    <br><br>

    <h1 class="text-center">LEΛPP</h1>

    <br><br>

    <div class="row">
        <div class="col-4">
            <div class="text-center">
                <img src="http://via.placeholder.com/200" class="rounded">
            </div>
            <br>
            <h2 class="text-center">Plan</h2>
            <p class="text-center"> Flavor Text</p>
        </div>
        <div class="col-4">
            <div class="text-center">
                <img src="http://via.placeholder.com/200" class="rounded">
            </div>
            <br>
            <h2 class="text-center">Organize</h2>
            <p class="text-center"> Flavor Text</p>

        </div>
        <div class="col-4">
            <div class="text-center">
                <img src="http://via.placeholder.com/200" class="rounded">
            </div>
            <br>
            <h2 class="text-center">Achieve</h2>
            <p class="text-center"> Flavor Text</p>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary">Join for free</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p>Already have an account? Click <a href="/login">here</a> to log in</p>
            </div>
        </div>
    </div>

{% endblock content %}